.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__image {
  height: 621px;
  width: 100%;
  padding-right: 30px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding-top: 145px;
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero__title {
  font-size: 60px;
  line-height: 66px;
}
.hero__title span {
  color: var(--card-text-color);
}
.hero__text {
  color: var(--light-text-color);
}
